/* Navbar */
.navbar {
  display: flex;
  height: var(--spacing-m);
  font-size: var(--font-size-large);
  align-items: center;
  gap: 1em;
  margin-bottom: var(--spacing-xs);
}

.navbar > a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: var(--spacing-xxs);
}

.navbar > a:hover {
  color: white;
  background-color: black;
}
/* ------------------------------- */